#Python cache stuff
__pycache__/

#Local tests and enviroments
tests/
venv/
env/

#Dist files and vscode files
*.egg-info/
dist/
build/
sdist/
.vscode/

#Compiled .pyd files
*/C_funcs/lib/
*/C_funcs/build/
*.pyd